
html, body, #tSpan, #tSection {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #fafafa;
}
nav {
    display: flex;
    background-color: #fff;
    height: 77px;
    align-items: center;
    justify-content: center;
}
main {
    background-color: #fafafa;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: center;
}
input {
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    width: 215px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    background-color: #fafafa;
}
input::placeholder {
    color: #ccc;
}
#author {
    height: 60px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
    border-bottom: 1px solid #ddd;
}
#author div {
    padding-left: 10px;
    align-items: center;
}
#author div a img {
    width: 30px;
    height: 30px;
}
section a img {
    width: 30px;
    height: 30px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li a {
    text-align: center;
    text-decoration: none;
    color: #003569;
}
textarea {
    width: 100%;
    height: 18px;
    background: 0 0;
    border: none;
    color: #262626;
    font-size: inherit;
    outline: none;
    margin: 0;
    padding: 0;
    resize: none;
    max-height: 80px;
}
article {
    margin-bottom: 60px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
}
img {
    width: 100%;
    height: 100%;
}
.mainFeed {
    max-width: 600px;
    padding-top: 60px;
}
.bold, .commentId {
    color: #000;
    font-weight: 600;
    text-decoration: none;
}
.comments {
    margin: 15px;
    line-height: 25px;
}
.c1 {
    margin-right: 5px;
}
.articleIcon {
    margin: -5px 10px 0 0;
    width: 25px;
    height: 25px;
}
.topLogo1 {
    width: 200px;
    height: 35px;
}
.topLogo2 {
    width: 25px;
    height: 25px;
}
.author_icon {
    border: 0;
    border-radius: 50%;
}
#logoImg {
    display: flex;
    margin-right: 200px;
}
#miniImg {
    display: flex;
    margin-left: 200px;
    justify-content: center;
}
#miniImg div {
    margin-right: 25px;
}
#others {
    width: 25px;
    height: 25px;
    position: relative;
    float: right;
    top: -40px;
    right: 20px;
}
#moreComment {
    color: #999;
    line-height: 30px;
}
#timeStamp {
    color: #999;
    font-size: 12px;
}
.pfframe {
    width: 60%;
    justify-content: center;
    min-height: 800px;
    margin: 50px auto;
}
.pf1 {
    display: flex;
    margin-bottom: 50px;
}
.pf2 {
    padding-top: 50px;
    border-top: 1px solid #EFEFEF;
}
.pf11 {
    width: 35%;
    text-align: center;
    margin-right: 10px;
}
.pf12 {
    width: 65%;
    padding-top: 15px;
}
.pfc1 {
    display: flex;
    align-content: flex-end;
    margin-bottom: 20px;
}
.pfc2 {
    display: flex;
    margin-bottom: 20px;
}
.pfc2 li {
    margin-right: 20px;
}
.pficon {
    width: 152px;
    height: 152px;
    border-radius: 50%;
}
.rows{
    display: flex;
    margin-bottom:10px;
    justify-content: space-between;
}
.pfarticle {
    min-width: 30%;
    min-height: 30%;
    margin-bottom: 1%;
    max-width: 293px;
    max-height: 293px;
}
.pfarticle:nth-child(1) {
    margin-right: 2%;
}
.pfarticle:nth-child(2) {
    margin-right: 2%;
}
.foo nav {
    background-color: #fafafa;
}
.fooul {
    display: flex;
}
.fooul li {
    margin-right: 5px;
}
.pfc11 {
    margin-top:0;
    margin-bottom:0;
    font-size: 2em;
    margin-right:20px;
}
.pfc12 {
    margin: 0;
    font-size:14px;
    line-height:26px;
    border:1px solid #dbdbdb;
    border-radius: 3px;
    padding: 0px 24px;
    padding-top: 6px;
    margin-right: 10px;
    font-weight: 600;
}
.pfc12:link {
    color: black;
    text-decoration: none;
}
.pfc12:visited {
    color: black;
    text-decoration: none;
}
.pfc12:hover {
    color: black;
    text-decoration: none;
}
.pfc12:active {
    color: black;
    text-decoration: none;
}
.pfc13 {
    width: 70px;
    height: 100%;
    font-weight: 600;
}

/*글쓰기*/
.writeFrame {
    margin: 50px auto;
    border: 1px solid #dfdfdf;
    width: 600px;
    height: 400px;
    background-color: white;
}
.formFrame {
    width: 600px;
    height: 400px;
}
.form0 {
    height: 10%;
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
    font-weight: 800;
    color: #262626;
}
.form1 {
    display: flex;
    height: 20%;
    align-items: center;
    justify-content: center;
}
.form1 input {
    width: 80%;
    height: 25%;
}
.form2 {
    display: flex;
    height: 20%;
    align-items: center;
    justify-content: center;
}
.form2 input {
    width: 80%;
    height: 30%;
}
.form3 {
    margin: 0 auto;
    display: flex;
    height: 25%;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-bottom: 5px;
}
.form3 input {
    width: 100px;
    height: 50px;
    font-weight: 600;
    background-color: #3897f0;
    border-color: #3897f0;
    color: #fff;
    border-radius: 3px;
}
.yes {
    margin-right: 20px;
}
.errorMessage {
    text-align: center;
    color: #ff4444;
}
.comment {
    width: 100%;
    height: 18px;
    background: 0 0;
    border: none;
    color: #262626;
    font-size: inherit;
    outline: none;
    margin: 0;
    padding: 0;
    resize: none;
    max-height: 80px;
    text-align: left;
}
